.category_bg_helper {
    width: 100%;
    height: auto;
    background: #f0f0f0;
    padding-bottom: 40px;
}
.c_new_menu_link {
    color: #000;
}
.c_new_menu {
    position: relative;
}
.c_new_menu_line_item {
    margin-right: 45px;
    color: #000;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.c_new_menu_line_item {
    cursor: pointer;
}
.c_new_menu_line_item_right {
    cursor: pointer;
    color: #5EA424;
}
.c_new_menu_line {
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}
.c_new_menu_more {
    cursor: pointer;
}
.c_new_menu_more_icon {
    display: inline-block;
    position: relative;
    width: 21px;
    height: 2px;
    background: #000;
    margin-left: 15px;
    cursor: pointer;
}
.c_new_menu_filter {
    width: 185px;
    height: 35px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px;
    font-size: 13px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-right: 23px;
}
.c_new_menu_dropdown {
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 70px;
    padding: 25px 40px;
    border: 5px solid #e6e6e6;
    columns: 4;
    height: 310px;
    width: 734px;
    z-index: 99999;
    display: none;
}
.c_new_menu_dropdown_link_helper {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.c_new_menu_dropdown_link {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin-bottom: 23px;
    color: #000;
}
.c_new_menu_dropdown .green_text:hover {
    color: #000 !important;
}
.c_new_menu_filter:hover {
    border-color: #ccc;
}
.c_new_menu_more_icon:after {
    content: '';
    display: block;
    background: #000;
    width: 21px;
    height: 2px;
    position: absolute;
    top: -4px;
    left: 0;
    cursor: pointer;
}
.c_new_menu_more_icon:before {
    content: '';
    display: block;
    background: #000;
    width: 21px;
    height: 2px;
    position: absolute;
    top: -8px;
    cursor: pointer;
    left: 0;
}
.c_new_menu_line_item_right:hover {
    color: #000;
}
.c_new_menu_line_item_right {
    margin: 0;
}
.c_new_menu_filters_count {
    font-size: 16px;
    line-height: 32px;
}
.goods {
    margin-top: 38px;
}
.g_good {
    width: 220px;
    height: 529px;
    margin: 0 12px 0 0 ;
    position: relative;
}
.g_good:nth-child(5n) {
    margin: 0;
}
.g_good_photo_block {
    width: 220px;
    height: auto;
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.g_good_photo {
    width: 100%;
}
.g_old_good_price {
    font-weight: bold;
    font-size: 20px;
    color: #FA8A75;
    margin: 20px 0;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.g_old_good_price:after {
    width: 100%;
    height: 1px;
    background: #000;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
}
.g_old_good_price_date {
    display: inline-block;
    color: #4d4d4d;
    font-size: 14px;
    margin: 0px 0 0 10px;
    position: relative;
    top: -3px;
}
.g_good_price {
    font-weight: bold;
    font-size: 20px;
    color: #f2593a;
    margin: 20px 0;
    display: inline-block;
}
.g_good_name {
    font-size: 18px;
    font-weight: bold;
}
.g_good_country {
    font-size: 14px;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 20px;
}
.g_good_description {
    font-size: 14px;
    margin: 15px 0;
    position: relative;
}
.g_good_counter {
    width: 40px;
    height: 26px;
    border: 1px solid #f0f0f0;
    background: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.g_good_count_legend {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.g_good_count {
    display: inline-block;
}
.g_good_to_cart {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    background: #e6e6e6;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 12px 0 17px;
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart:hover {
    background: #ddd;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart:active {
    background: #e6e6e6;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart_icon {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-position: -276px -110px;
    margin: 0 0 -8px 5px;
}
.g_good_to_cart_text {
    cursor: pointer;    
    height: 25px;
    line-height: 25px;
    display: inline-block;
}
.g_good_to_cart_text .rouble {
    cursor: pointer;    
}
.g_good_show_full_desc {
    display: none;
    font-size: 14px;
    color: #666;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 0 0px 3px;
    border-bottom: 1px solid #666;
    cursor: pointer;
    position: relative;
    top: -3px;
}
.g_good_show_full_desc:hover {
    color: #f2593a;
    border-bottom: 1px solid #F2593A;
}
.g_good_long_desc .g_good_show_full_desc {
    display: inline-block;
}
.g_good_id {
    font-size: 11px;
    color: #87B53D;
    margin-left: 10px;
}
.g_good_photo_is_sale {
    position: absolute;
    bottom: 12px;
    right: 10px;
    background: #5EA424;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 11px;
}
.g_good_big_description {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 20px;
    border: 5px solid #e6e6e6;
    font-size: 13px;
    bottom: 30px;
    max-height: 374px;
    overflow: auto;
    z-index: 999999;
    background: #FFF;
    display: none;
}
.search_banner {
    padding: 9px 8px 6px 9px;
    border: 5px solid #e6e6e6;
    position: relative;
}
.search_banner:after {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 127px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 24px 15px 0;
    border-color: transparent #e6e6e6 transparent transparent;
}
.search_header {
    font-weight: 900;
    padding-top: 35px;
    margin-bottom: -5px;
}
.search_header_text {
    color: #000;
    font-size: 18px;
}
.search_header_number {
    font-size: 14px;
    color: #87B53D;
    margin-left: 30px;
}
.search_separator {
    width: 100%;
    height: 10px;
    background: #E6E6E6;
}
.twin_header {
    font-size: 20px;
    font-weight: 900;
    margin-top: 40px;
}
.c_paginator {
    width: 100%;
    text-align: center;
}
.c_show_more_goods {
    font-size: 20px;
    border-bottom: 1px solid #000;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.c_show_more_goods:hover {
    border-color: #F2593A;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #F2593A;
}
.c_page {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 0 2px;
}
.c_page:hover {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f0f0f0;
    background: #FFF;
}
.c_current_page {
    border: 1px solid #f0f0f0;
    background: #FFF;
    cursor: default;
}
.c_pages {
    margin-top: 40px;
}