/* subcategory */
.category_bg_helper {
    width: 100%;
    height: auto;
    background: #f0f0f0;
    padding-bottom: 100px;
}
.c_subcat_menu {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    background: #FFF;
    padding: 0 30px;
    position: relative;
}
.c_subcat_menu_link {
    color: #000;
    font-size: 16px;
    margin: 0 30px 0 0;
    display: inline-block;
}
.c_subcat_menu_link:hover {
    color: #FE4517;
}
.c_current_subcat_link {
    color: #999 !important;
}
/* goods */
.goods {
    margin-top: -50px;
}
.g_good {
    width: 220px;
    height: 529px;
    margin: 0 12px 0 0 ;
}
.g_good:nth-child(5n) {
    margin: 0;
}
.g_good_photo_block {
    width: 220px;
    height: auto;
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.g_good_photo {
    width: 100%;
}
.g_old_good_price {
    font-weight: bold;
    font-size: 20px;
    color: #FA8A75;
    margin: 20px 0;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.g_old_good_price:after {
    width: 100%;
    height: 1px;
    background: #000;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
}
.g_old_good_price_date {
    display: inline-block;
    color: #4d4d4d;
    font-size: 14px;
    margin: 0px 0 0 10px;
    position: relative;
    top: -3px;
}
.g_good_price {
    font-weight: bold;
    font-size: 20px;
    color: #f2593a;
    margin: 20px 0;
    display: inline-block;
}
.g_good_name {
    font-size: 20px;
    font-weight: bold;
}
.g_good_country {
    font-size: 14px;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 20px;
}
.g_good_description {
    font-size: 14px;
    margin: 15px 0;
}
.g_good_counter {
    width: 40px;
    height: 26px;
    border: 1px solid #f0f0f0;
    background: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.g_good_count_legend {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.g_good_count {
    display: inline-block;
}
.g_good_to_cart {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    background: #e6e6e6;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 12px 0 17px;
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart:hover {
    background: #ddd;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart:active {
    background: #e6e6e6;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart_icon {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-position: -276px -110px;
    margin: 0 0 -8px 5px;
}
.g_good_to_cart_text {
    cursor: pointer;    
    height: 25px;
    line-height: 25px;
    display: inline-block;
}
.g_good_to_cart_text .rouble {
    cursor: pointer;    
}