/* main */
@font-face {
  font-family: 'rouble';
  src: url('/assets/fnt/rouble-webfont.eot');
  src: url('/assets/fnt/rouble-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fnt/rouble-webfont.woff') format('woff'),
       url('/assets/fnt/rouble-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.rouble {
  font-family: 'rouble';
  font-size: 0.9em;
}
.content {
    min-height: calc(100% - 475px);
}
.content_helper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a:hover {
    color: #fe4517;
    -webkit-transition: color .3s, border-color .3s, opacity .3s;
    -o-transition: color .3s, border-color .3s, opacity .3s;
    transition: color .3s, border-color .3s, opacity .3s;
}
a {
    -webkit-transition: color .3s, border-color .3s, opacity .3s;
    -o-transition: color .3s, border-color .3s, opacity .3s;
    transition: color .3s, border-color .3s, opacity .3s;
}
.green_text {
    color: #5ea424 !important;
}
.orange_text {
    color: #fe4517 !important;
}
.black_text {
    color: #000000 !important;
}
.bold_text {
    font-weight: bold;
}
.sprite {
    background: url('/assets/img/sprite.png');
}
input:focus {
    border: 1px solid #fe4517;
    -webkit-transition: border-color .3s ease;
       -moz-transition: border-color .3s ease;
        -ms-transition: border-color .3s ease;
         -o-transition: border-color .3s ease;
            transition: border-color .3s ease;
}
input {
    -webkit-transition: border-color .3s ease;
       -moz-transition: border-color .3s ease;
        -ms-transition: border-color .3s ease;
         -o-transition: border-color .3s ease;
            transition: border-color .3s ease;
    font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;font-weight:500
}
/* header */
.mobile_header {
    display: none;
    text-align: center;
}
.m_h_hamb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-position: -29px -521px;
    margin: 8px 0 0 0;
}
.m_h_call {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-position: -111px -520px;
    margin: 8px 0 0 20px;
}
.m_h_cart_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-position: -276px -522px;
    margin: 8px 0 0 20px;
}
.m_h_cart_text {
    color: #fe4517;
    font-size: 9px;
    height: 25px;
    margin: 10px 0 0 0px;
}
.m_h_logo_img {
    width: 100px;
}
.m_h_logo {
    display: inline-block;
}
.h_phone {
    font-size: 18px;
    font-weight: 900;
    color: #000;
    line-height: 26px;
    margin: 0 30px 0 0;
}
.h_link {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    line-height: 26px;
    margin-left: 50px;
}
.h_dirty_link {
    text-shadow: 0 0 47px rgba(0,0,0, .7);
    -webkit-transition: text-shadow .3s ease;
       -moz-transition: text-shadow .3s ease;
        -ms-transition: text-shadow .3s ease;
         -o-transition: text-shadow .3s ease;
            transition: text-shadow .3s ease;
}
.h_dirty_link:hover {
    text-shadow: 0 0 80px rgba(0,0,0, 1);
    -webkit-transition: text-shadow .3s ease;
       -moz-transition: text-shadow .3s ease;
        -ms-transition: text-shadow .3s ease;
         -o-transition: text-shadow .3s ease;
            transition: text-shadow .3s ease;
}
.h_cart_icon {
    width: 43px;
    height: 26px;
    background: #f0f0f0;
    cursor: pointer;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.h_logo_img {
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.h_logo_img:hover {
    opacity: .7;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.h_cart_text {
    width: auto;
    height: 26px;
    background: #f78c76;
    color: #FFF;
    font-size: 14px;
    line-height: 26px;
    padding: 0 15px;
    cursor: pointer;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.h_menu {
    margin-right: 100px;
}
.h_cart, .h_phones, .h_menu {
    margin-top: 15px;
}
.h_cart:hover .h_cart_text {
    background: #e05236;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.h_cart:hover .h_cart_icon {
    background: #ded5d5;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
header .content_helper {
    line-height: 26px;
    padding: 35px 0;
}
/* menu */
.c_menu {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    height: 98px;
    line-height: 98px;
}
.c_menu_link {
    color: #000;
}
.c_menu_secondary {
    border-top: 1px solid #b3b3b3;
    -webkit-transition: margin .3s, opacity .3s;
    -o-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
    opacity: 1;
    margin-bottom: 0;
}
.c_menu_more_span {
    width: 10px;
    height: 6px;
    display: inline-block;
    background-position: -200px -120px;
    margin: 0 0 2px 3px;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
.c_menu_hidden {
    margin-bottom: -100px;
    opacity: 0;
    -webkit-transition: margin .3s, opacity .3s;
    -o-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
}
.c_menu_more_span_opened {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-transition: transform .3s;
            -o-transition: transform .3s;
            transition: transform .3s;
}
.c_menu_more {
    color: #fe4517;
}
.c_menu_more:hover {
    opacity: .7;
}
.c_current_menu_link {
    color: #999 !important;
}
/* footer */
footer .content_helper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
}
footer {
    margin: 80px 0;
}
.f_block_link {
    display: inline-block;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.f_block_link:hover {
    border-bottom: 1px solid #f78c76;
}
.f_block_header {
    color: #fe4517;
    font-weight: bold;
    margin-bottom: 30px;
}
.f_delivery_text {
    margin: 35px 0 10px 0;
    line-height: 17px;
}
.f_logo {
    width: 150px;
    height: 111px;
    background-position: 0 -270px;
    cursor: pointer;
}
.f_delivery_icon {
    width: 82px;
    height: 41px;
    margin: 0 auto 0;
    background-position: -247px -348px;
}
.f_social {
    width: 33px;
    height: 33px;
    display: inline-block;
    opacity: .6;
}
.f_social:hover {
    opacity: 1;
}
.f_social_in {
    background-position: -25px -188px;
}
.f_social_fb {
    background-position: -108px -188px;    
}
.f_social_vk {
    background-position: -189px -188px;    
}
/* inners */
.c_inners_header {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 30px;
}
.closer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background: transparent;
    display: none;
}
/* modal */
.mm_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(88,88,88, .7);
    z-index: 99;
}
.mm_modal {
    position: fixed;
    width: 1018px;
    height: 366px;
    top: 50%;
    left: 50%;
    margin: -178px 0 0 -509px;
    background: #666;
    z-index: 100;
    padding: 100px 135px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #FFF;
}
.mm_modal_header {
    font-size: 24px;
}
.mm_modal_body {
    font-size: 36px;
    margin: 40px 0;
}
.mm_butt {
    width: 82px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.mm_butt:hover {
    opacity: .7;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.mm_yes {
    background: #6FA326;
    margin-right: 7px;
}
.mm_no {
    background: #D24D5E;
}
/* media */
@media all and (max-width: 1200px) {
    .content_helper {
        padding: 0 50px;
    }
    header .content_helper {
        padding: 35px 50px;
        line-height: 20px;
    }
    .c_menu {
        font-size: 12px;
    }
    .h_phone {
        font-size: 14px;
    }
    .h_link {
        font-size: 11px;
    }
    .h_cart_text {
        font-size: 11px;
        height: 20px;
        line-height: 20px;
    }
    .h_cart_icon {
        height: 20px;
    }
    .h_menu {
        margin-right: 50px;
    }
    .h_logo_img {
        width: 106px;
    }
    .h_cart, .h_phones, .h_menu {
        margin-top: 11px;
        line-height: 20px;
    }
}
@media all and (max-width: 980px) {
    .mobile_header {
        display: block;
    }
    .main_header {
        display: none;
    }
    header .content_helper {
        padding: 15px;
    }
}