DirectoryIndex index.php

RewriteEngine on

#RewriteCond %{ENV:HTTPS} !on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ /$1 [R=301,L]

#RewriteCond %{HTTP_HOST} ^www.aydaeda\.ru
#RewriteRule ^(.*)$ https://aydaeda.ru/$1 [R=permanent,L]

RewriteBase /
RewriteCond $1 !^(index\.php|admin|assets|images|robots\.txt|.*\.png|favicon\.ico|manifest\.json|safari-pinned-tab\.svg|yandex_21404d2a567c8bd8\.html|f2a3174b256a\.html|browserconfig\.xml)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]