DirectoryIndex index.php

RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|robots\.txt|.*\.png|favicon\.ico|manifest\.json|safari-pinned-tab\.svg|browserconfig\.xml)
RewriteRule ^(.*)$ /index.php/$1 [NC,L]