body,html {
    margin-top: -40px;
    padding-top: 40px;
}
.admin {
    width: 100%;
    max-width: 1153px;
    margin: 0 auto 0;
}
.admin_header_menu {
    font-size: 24px;
    margin: 30px 0;
}
.admin_header_menu_item {
    color: #000;
    margin-right: 50px;
}
.current_admin_header_menu_item {
    font-weight: 900;
    cursor: default;
}
.current_admin_header_menu_item:hover {
    color: #000;
}
.admin_menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ccc;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.admin_menu_item {
    font-size: 18px;
    color: #000;
}
.phones a {
    color: #000;
    font-size: 14px;
    margin-right: 15px;
    white-space: nowrap;
}
.phones {
    margin-top: 5px;
}
a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
a:hover {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fe4517;
}
.active_admin_menu_item {
    font-weight: 900;
    cursor: default;
}
.active_admin_menu_item:hover {
    color: #000;
}
.table_header {
    background: #f0f0f0;
}
.orders {
    width: 100%;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
}
.table_header td {
    font-weight: 900;
}
td {
    border: 1px solid #ccc;
    padding: 12px;
    vertical-align: middle;
    position: relative;
}
.open_order {
    cursor: pointer;
    text-decoration: underline;
}
.td_ph {
    text-align: left;
    padding: 12px 40px;
}
.dev_t {
    display: inline-block;
    margin-top: 5px;
}
.sep td {
    border: none;
    background: #f0f0f0;
    padding: 7px 0px;
    font-size: 12px;
    font-weight: 900;
}
.sep {
    border: 1px solid #ccc;
}
.select_it {
    position: absolute;
    display: block;
    margin: 0 0 0 -45px;
    border: none;
}
.to_cour_it {
    position: absolute;
    display: block;
    margin: -27px -60px 0 0px;
    border: none;
    right: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: url('/assets/admin/img/cour.png');
}
.to_cour_it:hover {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: url('/assets/admin/img/cour.png') #ccc;
}
.to_cour_it:active {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: url('/assets/admin/img/cour.png') #fff;
}
.orders_button {
    font-size: 16px;
    font-weight: 900;
    background: #ccc;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.orders_button:hover {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #bbb;
}
.orders_button:active {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #ccc;
}
.orders_buttons_cour {
    margin-top: 40px;
}
.orders_to_cour {
    position: relative;
}
.to_cour_sel {
    display: none;
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #ccc;
    background: #FFF;
    padding: 15px;
    bottom: 50px;
    left: 0;
    z-index: 2;
}
.to_cour_modal_link {
    font-size: 14px;
    text-decoration: underline;
    font-weight: normal;
    display: block;
    margin: 0 0 10px 0;
}
.to_cour_sel_mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.table_sep_pre_cour td {
    border: none;
    padding: 0;
    font-size: 20px;
}
.table_sep_cour td {
    border: none;
    background: #f0f0f0;
    font-size: 18px;
    position: relative;
}
.table_sep_cour {
    border: 1px solid #ccc;
}
.table_sep_cour_span {
    position: absolute;
    left: 0;
    display: block;
    white-space: nowrap;
    height: 100%;
    z-index: +1;
    margin: -9px 0 0 25px;
    font-weight: 900;
}
.table_sep_cour_phone {
    right: 0;
    left: auto;
    font-weight: normal;
    z-index: +1;
    margin: -9px 25px 0 0px;
}
.cour_final td {
    background: #f0f0f0;
    font-size: 16px;
    font-weight: 900;
}
.orders_cour_print {
    color: #000;
}
.orders_cour_print:hover {
    color: #000;
}
.orders_cour_print:active {
    color: #000;
}
.tal {
    text-align: left;
}
.orders_list_tbl {
    font-size: 12px !important;
}
.orders_list_tbl .phones a{
    font-size: 12px;
}
.orders_list_tbl .open_order{
    text-decoration: none;
}
.well_done_i_am_on_my_way {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 30px;
}
.sign_place {
    margin-left: 30px;
}
.order_mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255, .7);
    z-index: 9998;
    cursor: pointer;
}
.order_modal {
    display: none;
    width: 1153px;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: auto;
    -ms-overflow-x: hidden;
        overflow-x: hidden;
    height: 95%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255, 1);
    z-index: 9998;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid #7f7f7f;
    padding: 40px 30px;
}
.modal_id {
    width: 100%;
    font-size: 24px;
    margin: 0px 0 30px 100px;
}
.modal_orders {
    width: 100%;
}
.modal_photo {
    width: 90px;
    height: 80px;
    background-position: center !important;
    -webkit-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
}
.modal_orders td {
    border: none;
    border-bottom: 1px solid #d5d9da;
}
.modal_name td {
    border: none;
    padding: 0 0 0 0;
}
.modal_name_name {
    font-size: 20px;
    font-weight: 900;
}
.modal_name_desc {
    padding-top: 15px !important;
    font-size: 16px;
}
.modal_name_country {
    font-size: 16px;
}
.modal_status {
    font-size: 18px;
    font-weight: 900;
    vertical-align: top;
    padding: 20px !important;
}
.modal_status_succ {
    color: #669933;
}
.modal_price {
    font-weight: 900;
    font-size: 18px;
    vertical-align: top;
    padding: 20px !important;
}
.modal_count_inp {
    width: 67px;
    height: 33px;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: 900;
    display: block;
    margin: -8px 0 0 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.modal_count {
    vertical-align: top;
    padding: 20px !important;
    font-weight: 900;
    font-size: 18px;
}
.modal_action {
    vertical-align: top;
    padding: 20px 10px !important;
}
.modal_act {
    width: 33px;
    height: 33px;
    border: 1px solid #808080;
    margin-top: -8px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 30px;
}
.modal_act_new {
    width: 84px;
}
.modal_act_del {
    background: url("/assets/admin/img/del.png");
    background-position: center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.modal_act_inf {
    background: url("/assets/admin/img/inf.png");
    background-position: center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.modal_act:hover {
    opacity: 1;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.modal_tbl_footer td {
    border: none;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}
.modal_tbl_footer .modal_count_inp {
    margin: 0px 0 0 -11px;
}
.modal_tbl_bor {
    width: 100%;
    height: 3px;
    background: #d5d9da;
    margin: 25px 0;
}
.modal_first_tbl_footer td {
    padding-top: 25px !important;
}
.modal_info_tbl {
    width: 800px;
}
.modal_info_tbl td {
    border: none;
    font-size: 16px;
    position: relative;
}
.modal_info_inp {
    width: 325px;
    height: 33px;
    display: block;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.modal_info_deliv {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}
.long_modal_info_inp {
    width: 674px;
    position: absolute;
    top: 4px;
}
.modal_print {
    color: #000;
}
.modal_print:hover {
    color: #000;
}
.purch td {
    border: none;
    border-bottom: 1px solid #ccc;
}
.purch {
    width: 100%;
}
.modal_name td {
    border: none;
}
.cour_selc {
    margin: 40px 0;
}
.cour_selc .modal_info_inp {
    width: 250px;
}
.purch_foot td {
    border: none;
    padding-top: 25px;
}
.purch_foot .modal_price {
    vertical-align: bottom;
}
.no_modal_photo {
    margin: 0 -30px 0 0px;
}
.no_modal_button {
    margin-right: -50px;
}
.add_please_input_in_mo {
   display: inline-block;
   border: 1px solid #ccc; 
   height: 26px;
   width: 80px;
   text-align: center;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
           margin: 0 10px 0 0;
}
.count_add_please_input_in_mo {
    display: inline-block;
    border: 1px solid #ccc;
    height: 26px;
    width: 42px;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0 10px 0 0;
}
.add_more_im {
    position: absolute;
    width: 300px;
    z-index: +1;
}
.add_please_in_mo {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 7px 15px;
}
.add_please_in_mo:hover {
    color: #000;
}
.purch_foot_sec td {
    padding: 10px 12px 10px;
}
.purch_foot_sec .add_please_in_mo {
    color: #fff;
    background: #009933;
}
.purch_foot_sec .add_please_in_mo:hover {
    color: #fff;
    background: #12C24C;
}