.category_bg_helper {
    width: 100%;
    background: #f0f0f0;
    height: 86px;
}
.goods {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.g_good {
    width: 220px;
    height: 487px;
    /*margin: 0 12px 0 0 ;*/
    position: relative;
}
.g_good:nth-child(5n) {
    margin: 0;
}
.g_good_admin_info_modal_inpname2 {
    font-size: 13px !important;
    margin-bottom: 8px !important;
}
.g_good_photo_block {
    width: 220px;
    height: auto;
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.g_good_photo {
    width: 100%;
}
.g_old_good_price {
    font-weight: bold;
    font-size: 20px;
    color: #FA8A75;
    margin: 20px 0;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.g_old_good_price:after {
    width: 100%;
    height: 1px;
    background: #000;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
}
.g_old_good_price_date {
    display: inline-block;
    color: #808080;
    font-size: 12px;
    margin: 0px 0 0 10px;
    position: relative;
    top: -2px;
}
.g_good_price {
    font-weight: bold;
    font-size: 20px;
    color: #f2593a;
    margin: 19px 0 3px;
    display: inline-block;
}
.c_inners_side_tr .g_good_name {
    margin: 0px 0 15px;
    font-size: 20px;
}
.c_inners_side_tr .g_good_country {
    font-size: 16px;
    margin-bottom: 20px;
}
.c_inners_side_tr .g_good_id {
    font-size: 12px;
    color: #87B53D;
    font-weight: normal;
    font-family: Calibri;
    margin: 10px 0 0 0;
}
.g_good_name {
    font-size: 17px;
    margin: 12px 0 15px;
    font-weight: bold;
}
.g_good_country {
    font-size: 14px;
    margin-bottom: 20px;
}
.scroll_helper {
    max-height: 155px;
}
.g_good_weight {
    font-weight: normal;
    font-size: 13px;
}
.g_good_description {
    font-size: 14px;
    margin: 12px 0 15px;
    font-family:Calibri;
    position: relative;
	display:none;
}
.g_good_counter {
    width: 40px;
    height: 26px;
    border: 1px solid #ccc;
    /*border: 1px solid #f0f0f0;*/
    background: #FFF;
    text-align: center;
    font-size: 14px;
    font-family:Calibri Bold;
}
.cool_select_goods_count {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}
.g_good_count_legend {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.g_good_count {
    display: inline-block;
}
.c_page_dots {
    display: inline-block;
    width: 30px;
    letter-spacing: 1px;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: -2px;
}
.g_good_to_cart {
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    background: #e6e6e6;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 9px 0 13px;
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart:hover {
    background: #ddd;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart:active {
    background: #e6e6e6;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.g_good_to_cart_icon {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-position: -276px -110px;
    margin: 0 0 -8px 5px;
}
.g_good_to_cart_text {
    cursor: pointer;    
    height: 25px;
    line-height: 25px;
    display: inline-block;
}
.g_good_to_cart_value {
    cursor: pointer;
}
.g_good_added_to_cart_text {
    cursor: pointer;
}
.g_good_to_cart_text .rouble {
    cursor: pointer;    
}
.g_good_show_full_desc {
    display: none;
    font-size: 14px;
    color: #666;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 0 0px 3px;
    border-bottom: 1px solid #666;
    cursor: pointer;
    position: relative;
    top: -3px;
}
.g_good_show_full_desc:hover {
    color: #f2593a;
    border-bottom: 1px solid #F2593A;
}
.g_good_country_margin {
    margin-right: 15px;
}
.g_good_long_desc .g_good_show_full_desc {
    display: inline-block;
}
.g_good_id {
    font-size: 12px;
    color: #87B53D;
    font-weight: normal;
	font-family: Calibri;
}
.g_good_photo_is_sale {
    position: absolute;
    bottom: 12px;
    right: 10px;
    background: #5EA424;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 11px;
}
.g_good_big_description {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 20px;
    border: 5px solid #e6e6e6;
    font-size: 13px;
    bottom: 30px;
    max-height: 374px;
    overflow: auto;
    z-index: 999999;
    background: #FFF;
    display: none;
}
.cool_select_button {
    background: #f78c76;
    font-size: 13px;
    color: #FFF;
    display: inline-block;
    padding: 4px 11px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin: 15px 0 11px 10px;
}
.cool_select_button_ready {
    background: #fe4517;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    cursor: pointer;
}
.cool_select_button_ready:hover {
    background: #f78c76;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.cool_select_button_ready:active {
    background: #fe4517;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.search_banner {
    padding: 9px 8px 6px 9px;
    border: 5px solid #e6e6e6;
    position: relative;
}
.search_banner:after {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 127px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 24px 15px 0;
    border-color: transparent #e6e6e6 transparent transparent;
}
.search_header {
    font-family:Calibri Bold;
    padding-top: 35px;
    margin-bottom: -5px;
}
.search_header_text {
    color: #000;
    font-size: 18px;
}
.search_header_number {
    font-size: 14px;
    color: #87B53D;
    margin-left: 30px;
}
.search_separator {
    width: 100%;
    height: 10px;
    background: #E6E6E6;
}
.twin_header {
    font-size: 20px;
    font-family:Calibri Bold;
    margin-top: 40px;
}
.c_paginator {
    width: 100%;
    text-align: center;
}
.c_show_more_goods {
    font-size: 20px;
    border-bottom: 1px solid #000;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.c_show_more_goods:hover {
    border-color: #F2593A;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #F2593A;
}
.c_page {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family:Calibri Bold;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 0 2px;
}
.c_page:hover {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f0f0f0;
    background: #FFF;
}
.c_current_page {
    border: 1px solid #f0f0f0;
    background: #FFF;
    cursor: default;
}
.c_pages {
    margin-top: 40px;
}
.cool_select_options {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 100%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin: 0px 0 0 0;
    padding: 0px 0 7px 0;
    z-index: 9999;
    height: auto;
    max-height: 218px;
}
.opened_cool_select .cool_select_options {
    display: block;
}
.opened_cool_select:after {
    display: block;
    content: "";
    width: 100%;
    height: 7px;
    background: #FFF;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 99999;
    border: 1px solid #e6e6e6;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}
.opened_cool_select .cool_select_arrow {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: transform .1s;
            -o-transition: transform .1s;
            transition: transform .1s;
}
.cool_select {
    width: 143px;
    height: 35px;
    position: relative;
    background: #FFF;
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    line-height: 33px;
    font-size: 16px;
    cursor: pointer;
}
.cool_select span {
    cursor: pointer;
}
.cool_select_pack {
    position: relative;
    margin-right: 25px;
}
.cool_select_arrow {
    display: inline-block;
    width: 12px;
    height: 10px;
    background-position: -35px -774px;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
    float: right;
    margin: 13px 10px 0 0;
}
.cool_select_option {
    cursor: pointer;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    margin: 0 17px 0 10px;
    white-space: nowrap;
}
.cool_select_option label {
    cursor: pointer;
}
.cool_select_option input {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.cool_select_option:last-child {
    border: none;
}
.cool_select_reset {
    color: #336699;
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}
.cool_select_reset:hover {
    opacity: .7;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.count_cool_select_pack {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.count_cool_select {
    line-height: 28px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.count_cool_select_arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-position: -282px -281px;
    margin: 0 -4px 0 5px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
}
.count_cool_select_opened .count_cool_select_arrow {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
}
.count_cool_select_opened .count_cool_options {
    display: block;
}
.count_cool_options {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 100%;
    background: #FFF;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: -1px 0 0 0;
    font-size: 14px;
    z-index: 9999;
    font-family:Calibri Bold;
    border-top: none;
}
.count_cool_option {
    margin: 0 6px;
    padding: 5px 3px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}
.count_cool_option:last-child {
    border: none;
}
.count_cool_select_opened .count_cool_select:after {
    display: block;
    content: "";
    position: absolute;
    margin: -2px 6px 0;
    height: 1px;
    background: #e0e0e0;
    width: 28px;
    z-index: 99999;
}
.g_admin_info {
    display: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    float: right;
    margin: 25px 34px 0px 0;
    color: #666;
}
.g_good_admin_info_modal {
    width: 645px;
    height: 920px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -465px 0 0 -322px;
    z-index: 9999;
    border: 5px solid #e6e6e6;
    display: none;
}
.proc {
    text-align: center;
}
.price_new_inf_mod {
    margin: 41px 5px 0px 0;
    display: block;
    font-size: 16px;
}
.g_good_admin_info_modal_input_short3 {
    width: 47px;
    margin: 0 15px 0 0;
}
.proc_inp {
    width: 50px !important;
        margin: 0 18px 0;
}
.inpnom {
    margin: 0;
}
.g_good_admin_info_modal_left {
    width: 310px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
        display: block;
        padding-left: 45px;
        padding-right: 45px;
}
.g_good_admin_info_modal_header {
    padding-top: 45px;
    font-size: 22px;
    font-family:Calibri Bold;
        padding-left: 45px;
}
.g_good_admin_info_modal_right {
    width: 50%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
        display: block;
        padding-right: 25px;
}
.g_good_admin_info_modal_photo {
    margin-top: 15px;
    margin-bottom: 0px;
}
.g_good_admin_info_modal_inpname {
    font-size: 16px;
    font-family:Calibri Bold;
    margin-bottom: 5px;
    display: block;
    margin-top: 15px;
}
.g_good_admin_info_modal_input {
    height: 30px;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.g_good_admin_info_modal_input_short {
    width: 65px;
}
.g_good_admin_info_modal_input_med {
    width: 117px;
}
.g_good_admin_info_modal_input_long {
    width: 100%;
}
.nom {
    margin-top: 15px;
}
textarea.g_good_admin_info_modal_input {
    height: 143px;
    resize: none;
}
.g_good_admin_info_modal_input_short2 {
    width: 85px;
    margin-right: 21px;
}
.nom2 {
    margin-right: 0;
}
.g_good_admin_info_modal_save {
    margin-top: 43px;
}
.c_new_menu_link_country {
    color: #F2593A;
}
.cool_select_country {
    width: 400px;
        margin: -10px 0 0 0px;
}
.cool_select_country_pack {
    
}
.category_bg_helper_country {
    height: 89px;
}
.c_new_menu_line_country {
        padding-top: 38px;
    position: relative;
    padding-bottom: 16px;
}
.mobile_category_dropdown {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f0f0f0;
    text-align: center;
    font-size: 12px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
    display: none;
    z-index: 99999;
}
.mobile_category_dropdown_line {
    height: 26px;
    line-height: 26px;
    background: #FFF;
    border: 1px solid #bdbdbd;
    border-bottom: none;
}
.mobile_category_dropdown_cur {
    color: #fe4517;
}
.fbbmd {
    border-bottom: 1px solid #bdbdbd;
}
.mobile_category_dropdown_cancel {
    height: 26px;
    line-height: 26px;
    background: #FFF;
    border: 1px solid #bdbdbd;
    margin: 5px 0;
}
.c_new_mobile_submenu_link_closed {
    display: none;
}
.c_new_mobile_submenu {
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-y: hidden;
        overflow-y: hidden;
    width: 100%;
}
.c_new_mobile_submenu_hamb_pack, .c_new_mobile_submenu_more {
    display: inline-block;
    float: none;
}
@media all and (max-width: 800px) {
	.g_good_description {
		display:block;
	}
}