.contacts_bg_helper {
    width: 100%;
    height: 85px;
    background: #f0f0f0;
    position: absolute;
    left: 0;
    top: 122px;
}
.alm_eq_sym {
    font-size: 30px;
    position: relative;
    top: 3px;
}
.contacts_content {
    padding-top: 20px;
}
.c_inners_header {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 30px;
    z-index: 2;
    position: relative;
}
.c_contacts_line {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 75px;
}
.c_contacts_line_first {
    padding-top: 70px;
}
.c_contacts_line_right {
    width: 339px;
    /*border-left: 1px solid #e6e6e6;*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    padding-left: 65px;
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
}
.yugbkiucyytcvjhgvctycytgcytcytcct {
    font-family:Calibri Bold;
    margin: 32px 0 22px 0;
}
.po_konkretnym_voprosam_header {
    font-size: 24px;
    color: #fe4517;    
    margin: -10px 0 30px 0;
}
.po_konkretnym_voprosam_content_column_line_column {
    font-size: 20px;
}
.po_konkretnym_voprosam_content_column_line_column_right_top {
    font-size: 20px;
    font-family:Calibri Bold;
    text-align: right;
    margin: 0 0 10px 0;
}
.po_konkretnym_voprosam_content_column {
    width: 315px;
}
.po_konkretnym_voprosam_content_column_line_sep {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}
.po_konkretnym_voprosam {
    width: 87%;
}
.po_konkretnym_voprosam_content_column_line {
    padding: 22px 0;
}
.po_konkretnym_voprosam_content_column_line_column_right_bottom a {
    font-size: 18px;
    color: #45B3E4;
    text-align: right;
}
.po_konkretnym_voprosam_content_column_line_column_right_bottom {
    text-align: right;
}
.rutyviuoiboyivuctrxgyvuhbiyvgctrgvubhijnuvgyfcryvg {
    color: #fe4517;
    text-align: center;
    width: 210px;
    margin: 410px 0 0 0;
}
.uyionipuvgybni_header {
    font-size: 22px;
    color: #fe4517;
    font-family:Calibri Bold;
    margin: 0px 0 0 0px;
}
.uyionipuvgybni_link {
    font-size: 22px;
    margin-top: 12px;
}
.tyuhijokp {
    margin-top: 20px !important;
}
.c_contacts_line_left {
    width: calc(100% - 340px);
    border-right: 1px solid #e6e6e6;
    padding: 0 0 50px 0;
}
.c_contacts_big_phone {
    display: block;
    font-size: 109px;
    font-family:Calibri Bold;
    color: #000;
    margin: 0px 0 60px 0;
}
.c_contacts_big_phone:hover {
    color: #666;
}
.c_contacts_small_phone {
    display: block;
    font-size: 36px;
    color: #000;
}
.c_contacts_small_phone:hover {
    color: #666;
}
.c_contacts_line_right_header {
    font-size: 22px;
    font-family:Calibri Bold;
}
.c_contacts_line_right_subheader {
    margin-top: 30px;
}
.c_contacts_line_right_messenger {
    font-size: 16px;
    margin-right: 25px;
    color: #000;
}
.c_contacts_line_right_phone {
    color: #fe4517;
    display: block;
    font-size: 22px;
    font-family:Calibri Bold;
    margin-top: 65px;
}
.contacts_null_text2 {
    color: #FE4517 !important;
}
.c_contacts_line_right_phone:hover {
    color: #666;
}
.c_contacts_about_text {
    width: 100%;
    max-width: 710px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
}
.new_first_order_slider {
    width: 1080px;
    margin: 0 auto;
    height: 166px;
    /*overflow: hidden;*/
}
.new_first_order_slider_item {
    width: 128px;
    display: inline-block;
    margin: 0 5px;
}
.new_first_order_slider_item_img {
    width: 100%;
}
.c_contacts_line_right_about {
    padding-top: 15px;
    height: 350px;
}
.markin_vadim {
    margin-top: 0px;
}
.markin_vadim_text {
    margin-left: 35px;
    width: 543px;
}
.markin_vadim_photo img {
    width: 118px;
}
.markin_vadim_sep {
    width: 100%;
    height: 87px;
}
.markin_vadim_text_head {
    font-size: 22px;
    font-family:Calibri Bold;
    margin-bottom: 20px;
    margin-top: 10px
}
.markin_vadim_text_body {
    font-size: 20px;
    color: #000;
    font-style: italic;
    margin: 10px 0 20px 0px;
}
.more_answ_pack {
    margin-top: 30px;
}
.more_answ_foot {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.more_answ_link {
    font-size: 18px;
    text-decoration: underline;
    color: #336699;
}
.mor_hlp {
    margin-bottom: 15px;
}
.markin_vadim_phone {
    color: #fe4517;
    display: inline-block;
    font-size: 14px;
    font-family:Calibri Bold;
    margin-right: 25px;
}
.markin_vadim_phone:hover {
    color: #666;
}
.markin_vadim_email {
    font-size: 12px;
    color: #666;
}
.pineappleapplepen {
    margin: 0 auto;
    display: block;
}
.pineappleapplepen_fatha {
    padding: 0;
}
.contacts_new_h {
    color: #fe4517;
}
.contacts_null {
    position: absolute;
    font-size: 204px;
    font-family:Calibri Bold;
    color: #e6e6e6;
    top: 0;
    z-index: -1;
    left: 50%;
    margin: -30px 0 0px -50px;
}
.contacts_null_text {
    font-size: 22px;
    color: #333;
    height: 100%;
    width: 340px;
    text-align: center;
    line-height: 120px;
    position: absolute;
    left: 0;
}
.c_contacts_line_right_fo {
    height: 150px;
}
.c_contacts_line_right_bon {
    height: 78px;
}
.c_contacts_line_right_bon .contacts_null {
    font-size: 92px;
    margin: -9px 0 0px -20px;
}
.c_contacts_line_right_bon .contacts_null_text {
    line-height: 44px;
}
.if_blogger {
    width: 110px;
    height: 70px;
    background-position: -216px -663px;
    margin: -25px 0 0 60px;
}
.deliv_sprite {
    width: 200px;
    height: 80px;
    background-position: -328px -657px;
    margin: -6px 0 0 10px;
}
.if_blogger_pack {
    height: 80px;
}
.c_contacts_about_text_more {
    font-size: 14px;
    color: #336699;
    cursor: pointer;
    margin-top: 15px;
}
.c_contacts_line_right_header_orange {
    color: #fe4517;
    font-size: 22px;
    font-family:Calibri Bold;
    margin-top: 20px;
    margin-bottom: 50px;
}
.c_contacts_line_right_coolheader {
    font-size: 20px;
    margin-top: 20px;
}
.c_contacts_line_text_info {
    font-size: 20px;
    width: 690px;
    margin: 0 0 40px 0;
}
.vuhbijnkml_header {
    color: #45B3E4;
    font-size: 22px;
    margin: -20px 0 0px 0;
}
.vuhbijnkml_link {
    color: #000;
    font-family:Calibri Bold;
    font-size: 22px;
    margin-top: 15px;
    display: block;
}
.arrows_new_info {
    width: 16px;
    height: 16px;
    background-color: #e6e6e6;
    background-image: url('/assets/img/info_slider_arrows.png');
    background-repeat: no-repeat;
    -webkit-border-radius: 16px;
            border-radius: 16px;
    position: absolute;
    top: 60px;
    cursor: pointer;
}
.arrows_new_info:hover {
    opacity: .7;
}
.arrows_new_info_left {
    left: -34px;
    background-position: -15px 4px;
} 
.arrows_new_info_right {
    right: -34px;
    background-position: 5px 4px;
} 
.c_contacts_line_left_deliv_l {
    width: 50%;
}
.c_contacts_line_left_deliv_r {
    width: 50%;
    background: #f7f7f8;
    padding: 0 0 20px 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 356px;
}
.bl_fw_c_c_ll_deliv {
    font-size: 18px;
    font-family:Calibri Bold;
    margin-top: 20px;
}
.c_contacts_line_left_deliv_sep {
    height: 50px;
    width: 100%;
}
.call_me_right {
    text-align: center;
    font-size: 70px;
    font-family:Calibri Bold;
    color: #3E780F;
}
.blahhahah {
    line-height: 35px;
}
.c_contacts_line_right_coolheader_cards {
    width: 222px;
    height: 28px;
    background: url('/assets/img/cards.png');
    margin-top: 25px;
}
.c_contacts_line_left_car_pack {
    margin-top: 50px;
}
.c_contacts_line_left_car {
    width: 113px;
    height: 52px;
    background: url('/assets/img/car.png');
}
.c_contacts_line_left_car_text {
    font-size: 20px;
    width: 77%;
    margin: 0 0 0 43px;
}
.call_contacts_line_right {
    padding-left: 0;
}
.call_me_form label {
    display: block;
}
.call_me_form label span {
    display: block;
    font-size: 18px;
    margin-bottom: 25px;
}
.call_me_form_inp {
    display: block;
    width: 651px;
    height: 34px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 15px;
    font-size: 14px;
    color: #666;
    border: 1px solid #e6e6e6;
    margin-bottom: 25px;
}
textarea.call_me_form_inp {
    height: 70px;
    padding-top: 15px;
    resize: none;
}
.submit_call_me {
    font-size: 22px;
    font-family:Calibri Bold;
    display: block;
    width: 180px;
    height: 45px;
    background: #e6e6e6;
    border: 1px solid #ccc;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    margin-top: 25px;
}
.submit_call_me:hover {
    background: #ccc;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}
.submit_call_me:active {
    background: #e6e6e6;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}
#anch1 {
   position: relative;
    top: 14px;
    width: 100%;
    height: 1px;
}
#anch2 {
   position: relative;
    top: -66px;
    width: 100%;
    height: 1px;
}
#anch3 {
   position: relative;
    top: -66px;
    width: 100%;
    height: 1px;
}
#anch4 {
   position: relative;
    top: -66px;
    width: 100%;
    height: 1px;
}
#anch5 {
   position: relative;
    top: -66px;
    width: 100%;
    height: 1px;
}
#anch6 {
   position: relative;
    top: -66px;
    width: 100%;
    height: 1px;
}
#anch7 {
   position: relative;
    top: -66px;
    width: 100%;
    height: 1px;
}
.bigmarg {
    margin-bottom: 30px;
}