/* banner */
.b_slider {
    width: 100%;
    height: 577px;
    position: relative;
}
.b_slide {
    width: 100%;
    height: 550px;
    color: #FFF;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover !important;
    background-position: center !important;
}
.b_text {
    font-size: 73px;
    font-weight: bold;
    font-family:Calibri Bold;
    line-height: 85px;
    margin: 0 0 60px 0;
}
.b_undertext {
    font-size: 37px;
    font-weight: normal;
}
.slider_sprite {
    background: url('/assets/img/slider/slider_sprite.png');
}
.slider_2 {
    width: 666px;
    float: right;
}
.slider_2_header {
    font-size: 73px;
    font-family:Calibri Bold;
    color:#fff;
    cursor: pointer;
    text-align: left;
}
.slider_2_body {
    font-size: 36px;
    margin-top: 50px;
    color:#fff;
    cursor: pointer;
    text-align: left;
    position: relative;
    margin-bottom: 160px;
}
.slider_2_accent {
    width: 246px;
    height: 82px;
    background-position: 0 0;
    position: absolute;
    right: 0;
    bottom: -30px;
    cursor: pointer;
}
.banner_3 {
    font-size: 36px;
    color: #fe4517;
    margin-top: 417px;
    cursor: pointer;
}
.banner_4 {
    text-align: right;
    width: 596px;
}
.banner_4_header {
    position: relative;
    color:#fff;
    font-size: 73px;
    font-family:Calibri Bold;
    color:#fff;
    cursor: pointer;
}
.banner_4_body {
    color:#fff;
    font-size: 36px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 50px;
}
.banner_4_accent {
    position: absolute;
    width: 82px;
    height: 82px;
    background-position: -158px -76px;
    left: 68px;
    top: 70px;
    transform: scale(.8);
    cursor: pointer;
}
.banner_5 {
    text-align: left;
    width: 626px;
}
.banner_5_header {
    color:#fff;
    font-size: 50px;
    font-family:Calibri Bold;
    color:#fff;
    cursor: pointer;
}
.banner_5_body {
    color:#fff;
    font-size: 36px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 100px;
    position: relative;
}
.banner_5_body_acc {
    color: #ff8c1b;
    font-family:Calibri Bold;
    cursor: pointer;
}
.banner_5_accent_2 {
    font-size: 24px;
    color: #ff8c1b;
    font-family:Calibri Bold;
    position: absolute;
    right: 225px;
    bottom: -60px;
    cursor: pointer;
}
.banner_5_accent {
    position: absolute;
    width: 82px;
    height: 100px;
    background-position: -158px -163px;
    right: 138px;
    bottom: -70px;
    cursor: pointer;
}
.slider_6 {
    width: 905px;
    text-align: right;
    cursor: pointer;
}
.slider_6_header {
    font-size: 65px;
    color: #FFF;
    cursor: pointer;
}
.slider_6_body {
    margin-top: 50px;
    font-size: 36px;
    cursor: pointer;
    color: #FFF;
    margin-bottom: 100px;
    position: relative;
}
.slider_6_accent {
    position: absolute;
    left: 70px;
    bottom: -101px;
    background-position: 0px -80px;
    width: 164px;
    height: 164px;
}
/* mosaic */
.c_mosaic {
    max-width: 1150px;
    background: #fff;
}
.c_mosaic:after {
    content: '';
    display: block;
    clear: both;
}
.c_mosaic_gutter_sizer {
    width: 1%;
}
.c_mosaic_item {
    -webkit-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
        background-position: center !important;
}
.c_mosaic_grid_sizer, .c_mosaic_item {
    width: 19%;
    height: 206px;
    float: left;
    background: #ccc;
    margin-bottom: 1%;
    cursor: pointer;
    position: relative;
}
.c_mosaic_item_width_for_desktop {
    width: 19%;
}
.c_mosaic_grid_sizer {
    background: transparent;
}
.c_mosaic_item_width {
    width: 39%;
}
.c_mosaic_item_height {
    height: 423px;
}
.c_mosaic_item_text {
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    background: rgba(0,0,0, .7);
    padding: 2px 15px 5px;
}
.c_mosaic_link {
    opacity: 1;
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}
.c_mosaic_link:hover {
    opacity: .8;
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}
.c_mosaic_delivery {
    color: #FFF;
    text-align: center;
    background: #5ea424;
    cursor: pointer;
}
.c_mosaic_delivery_header {
    font-size: 22px;
    cursor: pointer;
}
.c_mosaic_delivery_body_left_top, .c_mosaic_delivery_body_right_top {
    color: #b92a3e;
    font-size: 14px;
    font-weight: bold;
    margin: 15px auto 4px;
    cursor: pointer;
}
.c_mosaic_delivery_body_left_bottom, .c_mosaic_delivery_body_center, .c_mosaic_delivery_body_right_bottom {
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}
.c_mosaic_delivery_body_left, .c_mosaic_delivery_body_center, .c_mosaic_delivery_body_right {
    display: inline-block;
    cursor: pointer;
}
.c_mosaic_delivery_body {
    cursor: pointer;
}
.c_mosaic_delivery_icon {
    width: 43px;
    height: 26px;
    background-position: -185px -356px;
    margin: 20px auto 12px;
    cursor: pointer;
}
.c_mosaic_delivery_footer {
    width: 100%;
    height: 15px;
    background-position: -11px -443px;
    position: absolute;
    bottom: 5px;
    left: 0;
    cursor: pointer;
}
.c_mosaic_delivery_subbody {
    margin: 17px auto 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.c_mosaic_delivery_subbody_circle {
    width: 4px;
    height: 4px;
    background: #FFF;
    margin: 0 3px 0 0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
}
.banner {
    margin: 0 0 40px 0;
}
.c_mosaic_delivery_subbody_border {
    width: 100%;
    height: 1px;
    background: #FFF;
    margin: 3px 0 0 -2px;
    cursor: pointer;
}
.c_new_menu_l {
    margin-right: 33px;
    font-family:Calibri Bold;
}
.index_c_new_menu .c_new_menu_line_item {
    margin: 0 11px 0 0px !important;
}
.second_banner_header {
    font-size: 48px;
    font-family:Calibri Bold;
    color: #FFF;
}
.second_banner_body_link {
    font-size: 36px;
    color: #FFF;
    font-weight: normal;
}
.second_banner_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0;
}
.second_banner_footer_button {
    font-size: 24px;
    color: #FFF;
    display: inline-block;
    background: #5ea424;
    padding: 5px 30px 8px;
}
.c_new_mobile_menu {
    display: none;
}
.mobile_banner {
    display: none;
}
.c_current_menu_mobile_link {
    color: #FE4517 !important;
}
.c_new_mobile_submenu {
    display: none;
    font-size: 11px;
    height: 50px;
    line-height: 50px;
}
.c_new_mobile_submenu_link_cur {
    color: #FE4517 !important;
}
.c_new_mobile_submenu_link {
    color: #000;
    margin-right: 12px;
}
.c_new_mobile_submenu_more {
    color: #999;
}
.c_new_mobile_submenu_hamb_pack {
    width: 10px;
    height: 7px;
    display: inline-block;
    margin: 21px 12px 0 0;
}
.c_new_mobile_submenu_hamb {
    position: relative;
    width: 10px;
    height: 1px;
    background: #000;
}
.c_new_mobile_submenu_hamb:after {
    position: absolute;
    width: 10px;
    height: 1px;
    background: #000;
    display: block;
    content: '';
    top: 3px;
}
.c_new_mobile_submenu_hamb:before {
    position: absolute;
    width: 10px;
    height: 1px;
    background: #000;
    display: block;
    content: '';
    top: 6px;
}
.aside_mobile_menu_logo {
    margin: 25px 0 0 100px;
}
.aside_mobile_menu_label {
    font-size: 16px;
    color: #FE4517;
    margin: 25px 0 ;
}
.aside_mobile_menu_line {
    font-size: 13px;
        font-family:Calibri Bold;
        margin-bottom: 15px;
}
.aside_mobile_menu_body {
    padding: 0 20px;
    font-size: 13px;
    padding-bottom: 10px;
}
.aside_mobile_menu_text {
    margin-bottom: 12px;
    font-size: 13px;
}
.aside_mobile_menu_subtext {
    font-size: 12px;
    margin-bottom: 30px;
}
.aside_mobile_menu_bigsubtext {
    font-size: 13px;
}
.aside_menu_phone {
    display: block;
    color: #000;
}
.mobile_info_mv_img {
    width: 50px;
}
.mobile_info_mv_txet {
    font-style: italic;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.mobile_info_mv_name {
    font-size: 13px;
    font-family:Calibri Bold;
    margin: 20px 0 0 25px;
}
.contact_me_mobile_span {
    font-size: 13px;
    display: block;
}
.contact_me_mobile_input {
    font-size: 13px;
    display: block;
    width: 206px;
    height: 34px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #e6e6e6;
    margin: 15px 0 20px;
}
textarea.contact_me_mobile_input {
    height: 70px;
    resize: none;
    padding-top: 7px;
}
.contact_me_mobile_button {
    width: 103px;
    height: 26px;
    font-size: 12px;
    font-family:Calibri Bold;
    background: #e6e6e6;
    border: 1px solid #ccc;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}
.new_mob_submenu_name {
    color: #f2593a;
    font-size: 14px;
}
.new_mob_submenu {
        height: 60px;
    line-height: 60px;
    display: none;
}
.new_mob_submenu_filter {
   font-size: 14px;
    margin-left: 30px;
}
.mobile_agree_more {
    color: #336699;
    margin: 20px 0;
}
.mobile_agree_height {
    height: 120px;
    font-size: 13px;
    overflow: hidden;
}
.new_mob_submenu_dropdown_header .new_mob_submenu_arrow {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
        margin: 0 -5px 0 5px;
}
.new_mob_submenu_dropdown_header {
    height: 60px;
    line-height: 60px;
}
.new_mob_submenu_filter_item a {
    color: #000;
}
.no_on_desk {
    display: none;
}
.g_good_photo_block:hover {
    opacity: .8;
    -webkit-transition: opacity .3s ease;
       -moz-transition: opacity .3s ease;
        -ms-transition: opacity .3s ease;
         -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
}
.g_good_photo_block:active {
    opacity: 1;
    -webkit-transition: opacity .3s ease;
       -moz-transition: opacity .3s ease;
        -ms-transition: opacity .3s ease;
         -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
}
.g_good_photo_block {
    opacity: 1;
    -webkit-transition: opacity .3s ease;
       -moz-transition: opacity .3s ease;
        -ms-transition: opacity .3s ease;
         -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
}
.new_mob_submenu_arrow {
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position: -284px -205px;
    position: relative;
    top: -1px;
        margin: 0 0 0 8px;
}
.cool_select_disabled {
    background: #e6e6e6 !important;
}
.cool_select_disabled {
    background: #e6e6e6 !important;
}
.cool_select_disabled .cool_select_arrow {
    display: none;
}
.cool_select_arrow2 {
    display: none;
    width: 12px;
    height: 10px;
    float: right;
    margin: 0px 10px 0 0;
    font-size: 16px;
    font-weight: 900;
}
.cool_select_disabled .cool_select_arrow2 {
    display: block;
}
.new_mob_submenu_dropdown {
    width: 100vw;
    left: 0;
    position: fixed;
    background: #FFF;
    z-index: 1;
    height: calc(100vh - 138px);
    /*min-height: 100vh;*/
    display: none;
    padding: 0 20px;
    box-sizing: border-box;
}
.fmfilter {
    position: fixed;
    /*position: relative;*/
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.new_mob_submenu_filter_item {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    min-height: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding: 0 0 15px 0;
}
.new_mob_submenu_filter_item_arrow {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -7px 0 0 0;
}
#wrapper_for_product_load {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.mobile_search_header_number {
    font-size: 11px;
    color: #87B53D;
    display: none;
    margin: 0px 0 -128px 15px;
}
.aside_mobile_menu_big {
    font-size: 35px;
        font-family:Calibri Bold;
        margin-top: -5px;
        margin-bottom: 15px;
}
.aside_mobile_menu_back {
    width: 20px;
    height: 20px;
    background-position: -196px -523px;
    margin: 33px 0px 0 19px;
}
.aside_mobile_menu {
    width: 100%;
    background: #FFF;
    position: fixed;
    overflow: auto;
    -ms-overflow-x: hidden;
        overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100%;
    display: none;
}
.mobile_mosaic {
    display: none;
}
.mob_mos_it {
    display: block;
    width: 48%;
    margin: 1%;
    position: relative;
    padding-bottom: 43%;
    float: left;
    background-size: cover !important;
    background-position: center !important;
}
.mob_mos_it_big {
    width: 98%;
    padding-bottom: 93%;
}
.mob_mos_it_wide {
    width: 98%;
}
.mob_mos_it_text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    font-family:Calibri Bold;
    color: #FFF !important;
        background: rgba(0,0,0, .5);
    padding: 2px 7px 4px;
}
.bl_txt_mob {
    color: #000;
}
.index_c_new_menu .c_new_menu_line_item {
    margin: 0 0px 0 0px !important;
}
.c_new_index_menu_dropdown {
    top: 60px;
    right: 0;
}
/* media */
@media all and (max-width: 1200px) {
    .c_inners_left_side_content {
        max-width: 340px;
    }
    .c_inners_left_side {
        width: 350px;
    }
    .c_inners_right_content {
        width: calc(100% - 351px);
    }
    .goods {
        /*margin-top: 143px !important;*/
        margin-top: 0px !important;
    }
    .b_text {
        font-size: 53px;
        line-height: 55px;
    }
    .b_undertext {
        font-size: 27px;
    }
    .c_new_menu_line_item {
        font-size: 14px;
    }
    .c_new_menu_line_item {
        font-size: 14px;
    }
    .c_new_index_menu_dropdown {
        width: 100%;
        box-sizing: border-box;
        right: 10px;
    }
    .index_c_new_menu {
        display: none;
    }
    .c_new_mobile_menu {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: auto;
        height: 50px;
        line-height: 50px;
        overflow-y: hidden;
    }
    .new_mob_submenu {
        display: block;
    }
    .c_mobile_menu_link {
        font-size: 16px;
        font-family:Calibri Bold;
        color: #000;
        text-transform: uppercase;
        margin-right: 25px;
        height: 50px;
    }
    .c_new_menu_hide {
        display: none;
    }
    .category_bg_helper {
        width: 100% !important;
        background: #e8e8e8 !important;
        height: 50px !important;
        border-bottom: 1px solid #e0e0e0;
        /*margin: 13px 0 -95px 0 !important;*/
        margin: 13px 0 0px 0 !important;
        -webkit-box-shadow: 0px 10px 25px -2px rgba(0,0,0, .1);
                box-shadow: 0px 10px 25px -2px rgba(0,0,0, .1);
    }
    .g_good {
        height: auto !important;
    }
    .g_good_actions {
        position: static;
        bottom: 0px;
        margin: -10px 0 25px 0;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    .g_good_photo_block:hover {
        opacity: 1;
    }
    /*.g_good:nth-child(4n) {
        margin: 0;
    }
    .g_good:nth-child(5n) {
        margin: 0 12px 0 0 !important;
    }*/
}
@media all and (min-width: 980px) {
	.mobile_check {
        display: none;
    }	
}
@media all and (max-width: 980px) {
    .c_mosaic_grid_sizer, .c_mosaic_item {
        height: 100px;
    }
    .c_mosaic_item_width_for_desktop {
        width: 39%;
    }
    .g_good {
        width: 32% !important;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    .mag_or_blog {
        display: block;
    }
    /*.g_good:nth-child(3n) {
        margin: 0;
    }
    .g_good:nth-child(4n) {
        margin: 0 12px 0 0 !important;
    }
    .g_good:nth-child(5n) {
        margin: 0 12px 0 0 !important;
    }*/
    .c_mosaic_item_height {
        height: 207px;
    }
    .c_mosaic_item_text {
        font-size: 16px;
    }
    .c_mosaic_delivery {
        display: none;
    }
    header {
        height: auto;
    }
    .g_good_actions {
        position: static !important;
        bottom:0 !important;
        padding: 0 15px;
    }
    .new_good_helper_mobile {
        padding: 0 0 0 15px;
    }
    .g_good_mobile_fav,.mobile_check {
        display: block;
    }
    .buy_this_stuff {
        font-size: 13px !important;
    }
}
@media all and (max-width: 800px) {
    .good_modal, .good_modal_closer {
        display: none !important; 
    }
    .g_good_to_cart_icon {
        margin: 0 0 -8px 0px !important;
    }
    .g_good {
        width: 48% !important;
        height: auto !important;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    /*.g_good:nth-child(2n) {
        margin: 0 0 30px 0;
    }
    .g_good:nth-child(3n) {
        margin: 0 12px 30px 0 !important;
    }
    .g_good:nth-child(4n) {
        margin: 0 12px 30px 0 !important;
    }
    .g_good:nth-child(5n) {
        margin: 0 12px 30px 0 !important;
    }*/
    .mobile_banner_text_header {
        font-family:Calibri Bold;
        margin-top: 25px;
    }
    .mobile_banner_banner {
        color: #000;
        text-align: left;
        width: 80%;
        margin: 0 auto;
        display: none;
    }
    .mobile_banner_icons {
        display: block;
        width: 80%;
        margin: 0 auto 25px;
    }
    .mobile_banner_icons_icon {
        width: 33%;
    }
    .mobile_banner_icons_icon_img {
        width: 82px;
        height: 82px;
        margin: 0 auto 0px;
    }
    .mobile_banner_text {
        margin-bottom: 30px;
    }
    .m_b_b_i_t_bold {
        font-family:Calibri Bold;
    }
    .mobile_banner_icons_icon_text {
        font-size: 15px;
        color: #fe4517;
    }
    .mobile_banner_text_header {
        font-size: 25px;
    }
    .mobile_banner_text_subheader {
        font-size: 16px;
        margin-top: 32px;
    }
    .c_mosaic_grid_sizer, .c_mosaic_item {
        height: 200px;
        width: 49%;
    }
    .c_mosaic_item_height {
        height: 200px;
    }
    .c_mosaic_item_width {
        width: 99%;
    }
    .c_mosaic_item_text {
        font-size: 16px;
    }
    .c_mosaic_item_width_for_mobile {
        width: 49%;
    }
    .c_mosaic_item_width_for_desktop {
        width: 99%;
    }
    .c_mosaic_item_width_for_mobile_long {
        width: 99%;
    }
    .banner {
        display: none;
    }
    .mobile_banner {
        display: block;
        text-align: center;
    }
    .m_h_logo_img {
        width: 97px;
        margin: 6px 0 0;
    }
    .m_h_call {
        margin: 8px 2px 0px 9px;
    }
    .m_h_logo {
        margin: 2px 0 0 0;
    }
    .mobile_banner_banner_text_header {
        font-size: 10px;
        font-family:Calibri Bold;
    }
    .mobile_banner_banner_text {
        margin-top: 55px;
        margin-right: 20px;
    }
    .mobile_banner_banner_text_body {
        font-size: 12px;
        font-family:Calibri Bold;
        color: #5ea424;
        margin: 10px 0 5px;
    }
    .mobile_banner_banner_text_footer {
        font-size: 10px;
    }
    .c_mobile_menu_link {
        font-size: 12px;
    }
    footer {
        display: none;
    }
    .content_helper {
        padding: 0 15px;
    }.c_mosaic {
        display: none;
    }
    .mobile_mosaic {
        display: block;
    }
    .mob_mos_deliv {
        display: none;
    }
    .blog_header {
        display: none;
    }
    .blog_content {
        width: 100% !important;
    }
    .blog_item, .blog_wide {
        width: 100% !important;
    }
    .blog_item {
        margin-right: 0 !important;
    }
    .blog_date_sep {
        text-align: center;
        font-size: 11px !important;
        font-family:Calibri Bold;
    }
    .blog_back {
        display: none !important;
    }
    .blog_back_mob {
        display: block !important;
    }
    .blog_date_desk {
        display: none;
    }
    .blog_date_mob {
        display: block;
    }
    .blog_post_left, .blog_post_right {
        float: none;
    } 
    .post_img {
        width: 100% !important;
    }
    .post_header_share {
        display: none;
    }
    .blog_post_right {
        width: 100% !important;
        padding: 0 !important;
    }
    .post_text p {
        font-size: 12px !important;
    }
    .post_header_name {
        font-size: 14px !important;
    } 
    .buy_this_stuff {
        font-size: 11px !important;
        margin: 0 auto;
    }
}
@media all and (max-width: 425px) {
    .category_bg_helper {
        background: #e8e8e8 !important;
    }
    .c_mosaic {
        display: none;
    }
    .g_good_count_act {
        margin: 0 10px 0;
    }
    .g_good_count_rem {
        margin-left: 0;
    }
    .mob_mos_deliv {
        display: block;
    }
    .mobile_mosaic {
        display: block;
    }
    .mobile_banner_text_header {
        font-size: 17px;
        font-family:Calibri Bold;
        margin-top: 25px;
    }
    .mobile_banner_text {
        margin-bottom: 0px;
    }
    .mobile_banner_text_subheader {
        font-size: 12px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .mobile_banner_banner {
        color: #000;
        text-align: left;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .mobile_banner_icons {
        display: block;
        width: 80%;
        margin: 0 auto 25px;
    }
    .mobile_banner_icons_icon {
        width: 33%;
    }
    .mobile_banner_icons_icon_img {
        width: 82px;
        height: 82px;
        -webkit-transform: scale(.5);
           -moz-transform: scale(.5);
            -ms-transform: scale(.5);
             -o-transform: scale(.5);
                transform: scale(.5);
        margin: 0 auto -20px;
    }
    .m_b_b_i_t_bold {
        font-family:Calibri Bold;
    }
    .mobile_banner_icons_icon_text {
        font-size: 9px;
        color: #fe4517;
    }
    .c_mosaic_grid_sizer, .c_mosaic_item {
        height: 100px;
        width: 49%;
    }
    .c_mosaic_item_height {
        height: 100px;
    }
    .c_mosaic_item_width {
        width: 99%;
    }
    .c_mosaic_item_text {
        font-size: 12px;
        background: transparent;
        padding: 0;
    }
    .c_mosaic_item_width_for_mobile {
        width: 49%;
    }
    .c_mosaic_item_width_for_mobile_long {
        width: 99%;
    }
    .content {
        margin: 0 0 -21px 0;
        padding: 0 0 20px 0;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    .g_good {
        width: 100% !important;
    }
    .g_good {
        height: auto !important;
         margin: 0 0 30px 0 !important;
    }
    .c_mosaic_item_width_for_desktop {
        width: 99%;
    }
}
.noscrlbr::-webkit-scrollbar { width: 0; }
.noscrlbr { -ms-overflow-style: none; }
.noscrlbr { overflow: -moz-scrollbars-none; }
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
.blog_header_left {
    color: #508f1d;
    font-size: 28px;
    font-family:Calibri Bold;
}
.blog_header {
    margin: 42px 0;
}
.blog_header_right {
    font-size: 16px;
    margin: 7px 0 0 0;
}
.blog_date_sep {
    font-size: 16px;
    color: #4d4d4d;
}
.blog_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 40px;
    width: calc(100% + 40px);
}
.blog_item {
    width: 262px;
    float: left;
    margin-bottom: 50px;
    margin-right: 35px;
    display: block;
}
.blog_wide {
    width: 556px;
}
.blog_img {
    background-position: center !important;
    -webkit-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
    height: 246px;
    width: 100%;
    background: #eee;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.blog_img:hover {
    opacity: .8;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.blog_name {
    cursor: pointer;
    font-family:Calibri Bold;
    font-size: 21px;
    color: #000;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    max-width: 90%;
    height: 42px;
    overflow: hidden;
}
.blog_next {
    cursor: pointer;
    font-size: 14px;
    color: #f2593a;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.blog_text {
    font-size: 16px;
    max-width: 90%;
    height: 64px;
    overflow: hidden;
    margin: 20px 0;
}
.clog_date {
    font-size: 14px;
    color: #87B53d;
    margin: 20px 0;
}
.blog_next_link:hover .blog_next{
    color: #000 !important;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.blog_name_link:hover .blog_name{
    color: #f2593a !important;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.blog_date_sep_arrow {
    cursor: pointer;
    color: #b3b3b3;
    font-size: 14px;
    margin: 0 10px 0 0;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.blog_date_sep:hover > .blog_date_sep_arrow {
    color: #f2593a;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.blog_date_sep_inner {
    color: #87B53D;
    font-size: 14px;
}
.post_header_name {
    font-size: 24px;
    font-family:Calibri Bold;
    max-width: 70%;
}
.post_header_share {
    color: #f2593a;
    margin: 5px 0 0 0;
}
.post_header_share:hover {
    color: #000;
}
.post_img {
    background-position: center !important;
    -webkit-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
    width: 413px;
    height: 387px;
    background: #eee;
}
.blog_post_right {
    width: calc(100% - 413px);
    padding-left: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.blog_post {
    margin-top: 35px;
}
.post_text p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 19px;
}
.post_text {
    margin-top: 35px;
}
.buy_this_stuff {
    width: auto;
    display: block;
    border: none;
    background: #5EA424;
    color: #fff;
    font-family:Calibri Bold;
    font-size: 16px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 10px 35px;
    cursor: pointer;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.buy_this_stuff:hover {
    background: #4C871D;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.buy_this_stuff:active {
    background: #5EA424;
}
button:focus {outline:0;}