/* banner */
.b_slider {
    width: 100%;
    height: 577px;
    position: relative;
}
.b_slide {
    width: 100%;
    height: 550px;
    color: #FFF;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover !important;
    background-position: center !important;
}
.b_text {
    font-size: 73px;
    font-weight: bold;
    line-height: 85px;
    margin: 0 0 60px 0;
}
.b_undertext {
    font-size: 37px;
}
/* mosaic */
.c_mosaic {
    max-width: 1150px;
    background: #fff;
}
.c_mosaic:after {
    content: '';
    display: block;
    clear: both;
}
.c_mosaic_gutter_sizer {
    width: 1%;
}
.c_mosaic_item {
    -webkit-background-size: cover !important;
         -o-background-size: cover !important;
            background-size: cover !important;
        background-position: center !important;
}
.c_mosaic_grid_sizer, .c_mosaic_item {
    width: 19%;
    height: 206px;
    float: left;
    background: #ccc;
    margin-bottom: 1%;
    cursor: pointer;
    position: relative;
}
.c_mosaic_item_width_for_desktop {
    width: 19%;
}
.c_mosaic_grid_sizer {
    background: transparent;
}
.c_mosaic_item_width {
    width: 39%;
}
.c_mosaic_item_height {
    height: 423px;
}
.c_mosaic_item_text {
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    background: rgba(0,0,0, .7);
    padding: 2px 15px 5px;
}
.c_mosaic_link {
    opacity: 1;
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}
.c_mosaic_link:hover {
    opacity: .8;
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}
.c_mosaic_delivery {
    color: #FFF;
    text-align: center;
    background: #5ea424;
    cursor: pointer;
}
.c_mosaic_delivery_header {
    font-size: 22px;
    cursor: pointer;
}
.c_mosaic_delivery_body_left_top, .c_mosaic_delivery_body_right_top {
    color: #b92a3e;
    font-size: 14px;
    font-weight: bold;
    margin: 15px auto 4px;
    cursor: pointer;
}
.c_mosaic_delivery_body_left_bottom, .c_mosaic_delivery_body_center, .c_mosaic_delivery_body_right_bottom {
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}
.c_mosaic_delivery_body_left, .c_mosaic_delivery_body_center, .c_mosaic_delivery_body_right {
    display: inline-block;
    cursor: pointer;
}
.c_mosaic_delivery_body {
    cursor: pointer;
}
.c_mosaic_delivery_icon {
    width: 43px;
    height: 26px;
    background-position: -185px -356px;
    margin: 20px auto 12px;
    cursor: pointer;
}
.c_mosaic_delivery_footer {
    width: 100%;
    height: 15px;
    background-position: -11px -443px;
    position: absolute;
    bottom: 5px;
    left: 0;
    cursor: pointer;
}
.c_mosaic_delivery_subbody {
    margin: 17px auto 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.c_mosaic_delivery_subbody_circle {
    width: 4px;
    height: 4px;
    background: #FFF;
    margin: 0 3px 0 0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
}
.banner {
    margin: 0 0 40px 0;
}
.c_mosaic_delivery_subbody_border {
    width: 100%;
    height: 1px;
    background: #FFF;
    margin: 3px 0 0 -2px;
    cursor: pointer;
}
.c_new_menu_l {
    margin-right: 27px;
}
.index_c_new_menu .c_new_menu_line_item {
    margin: 0 11px 0 0px !important;
}
.second_banner_header {
    font-size: 48px;
    font-family:Calibri Bold;
    color: #FFF;
}
.second_banner_body_link {
    font-size: 36px;
    color: #FFF;
    font-weight: normal;
}
.second_banner_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0;
}
.second_banner_footer_button {
    font-size: 24px;
    color: #FFF;
    display: inline-block;
    background: #5ea424;
    padding: 5px 30px 8px;
}
.c_new_mobile_menu {
    display: none;
}
.mobile_banner {
    display: none;
}
.c_current_menu_mobile_link {
    color: #FE4517 !important;
}
.c_new_mobile_submenu {
    display: none;
    font-size: 11px;
    height: 50px;
    line-height: 50px;
}
.c_new_mobile_submenu_link_cur {
    color: #FE4517 !important;
}
.c_new_mobile_submenu_link {
    color: #000;
    margin-right: 12px;
}
.c_new_mobile_submenu_more {
    color: #999;
}
.c_new_mobile_submenu_hamb_pack {
    width: 10px;
    height: 7px;
    display: inline-block;
    margin: 21px 12px 0 0;
}
.c_new_mobile_submenu_hamb {
    position: relative;
    width: 10px;
    height: 1px;
    background: #000;
}
.c_new_mobile_submenu_hamb:after {
    position: absolute;
    width: 10px;
    height: 1px;
    background: #000;
    display: block;
    content: '';
    top: 3px;
}
.c_new_mobile_submenu_hamb:before {
    position: absolute;
    width: 10px;
    height: 1px;
    background: #000;
    display: block;
    content: '';
    top: 6px;
}
.aside_mobile_menu_logo {
    margin: 25px 0 0 60px;
}
.aside_mobile_menu_label {
    font-size: 16px;
    color: #FE4517;
    margin: 25px 0 ;
}
.aside_mobile_menu_line {
    font-size: 13px;
        font-family:Calibri Bold;
        margin-bottom: 15px;
}
.aside_mobile_menu_body {
    padding: 0 20px;
    font-size: 13px;
    padding-bottom: 10px;
}
.aside_mobile_menu_text {
    margin-bottom: 12px;
    font-size: 13px;
}
.aside_mobile_menu_subtext {
    font-size: 12px;
    margin-bottom: 30px;
}
.aside_mobile_menu_bigsubtext {
    font-size: 13px;
}
.aside_menu_phone {
    display: block;
    color: #000;
}
.mobile_info_mv_img {
    width: 50px;
}
.mobile_info_mv_txet {
    font-style: italic;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.mobile_info_mv_name {
    font-size: 13px;
    font-family:Calibri Bold;
    margin: 20px 0 0 25px;
}
.contact_me_mobile_span {
    font-size: 13px;
    display: block;
}
.contact_me_mobile_input {
    font-size: 13px;
    display: block;
    width: 206px;
    height: 34px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #e6e6e6;
    margin: 15px 0 20px;
}
textarea.contact_me_mobile_input {
    height: 70px;
    resize: none;
    padding-top: 7px;
}
.contact_me_mobile_button {
    width: 103px;
    height: 26px;
    font-size: 12px;
    font-family:Calibri Bold;
    background: #e6e6e6;
    border: 1px solid #ccc;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}
.new_mob_submenu_name {
    color: #f2593a;
    font-size: 12px;
}
.new_mob_submenu {
    height: 50px;
    line-height: 50px;
    display: none;
}
.new_mob_submenu_filter {
    font-size: 12px;
    margin-left: 15px;
}
.mobile_agree_more {
    color: #336699;
    margin: 20px 0;
}
.mobile_agree_height {
    height: 120px;
    font-size: 13px;
    overflow: hidden;
}
.new_mob_submenu_dropdown_header .new_mob_submenu_arrow {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
.new_mob_submenu_dropdown_header {
    height: 50px;
    line-height: 50px;
}
.no_on_desk {
    display: none;
}
.new_mob_submenu_arrow {
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position: -284px -205px;
    position: relative;
    top: -1px;
}
.new_mob_submenu_dropdown {
    width: 100vw;
    left: 0;
    position: absolute;
    background: #FFF;
    position: absolute;
    z-index: 1;
    min-height: 100vh;
    display: none;
    padding: 0 20px;
    box-sizing: border-box;
}
.fmfilter {
    max-width: 100vh;
    overflow: hidden;
}
.new_mob_submenu_filter_item {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.mobile_search_header_number {
    font-size: 11px;
    color: #87B53D;
    display: none;
    margin: 0px 0 -128px 15px;
}
.aside_mobile_menu_big {
    font-size: 35px;
        font-family:Calibri Bold;
        margin-top: -5px;
        margin-bottom: 15px;
}
.aside_mobile_menu_back {
    width: 20px;
    height: 20px;
    background-position: -196px -523px;
    margin: 33px 0px 0 19px;
}
.aside_mobile_menu {
    width: 100%;
    background: #FFF;
    position: fixed;
    overflow: auto;
    -ms-overflow-x: hidden;
        overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100%;
    display: none;
}
.mobile_mosaic {
    display: none;
}
.mob_mos_it {
    display: block;
    width: 48%;
    margin: 1%;
    position: relative;
    padding-bottom: 43%;
    float: left;
    background-size: cover !important;
    background-position: center !important;
}
.mob_mos_it_big {
    width: 98%;
    padding-bottom: 93%;
}
.mob_mos_it_wide {
    width: 98%;
}
.mob_mos_it_text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    font-family:Calibri Bold;
    color: #FFF;
}
.bl_txt_mob {
    color: #000;
}
.index_c_new_menu .c_new_menu_line_item {
    margin: 0 0px 0 0px !important;
}
.c_new_index_menu_dropdown {
    top: 60px;
    right: 0;
}
/* media */
@media all and (max-width: 1200px) {
    .goods {
        margin-top: 143px !important;
    }
    .b_text {
        font-size: 53px;
        line-height: 55px;
    }
    .b_undertext {
        font-size: 27px;
    }
    .c_new_menu_line_item {
        font-size: 14px;
    }
    .c_new_menu_line_item {
        font-size: 14px;
    }
    .c_new_index_menu_dropdown {
        display: block;
        width: 100%;
        box-sizing: border-box;
        right: 10px;
    }
    .index_c_new_menu {
        display: none;
    }
    .c_new_mobile_menu {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: auto;
        height: 50px;
        line-height: 50px;
        overflow-y: hidden;
    }
    .new_mob_submenu {
        display: block;
    }
    .c_mobile_menu_link {
        font-size: 16px;
        font-family:Calibri Bold;
        color: #000;
        text-transform: uppercase;
        margin-right: 28px;
        height: 50px;
    }
    .c_new_menu_hide {
        display: none;
    }
    .category_bg_helper {
        width: 100% !important;
        background: #f7f7f7 !important;
        border-bottom: 1px solid #e0e0e0;
        height: 50px !important;
        margin: 13px 0 -95px 0 !important;
        -webkit-box-shadow: 0px 10px 25px -2px rgba(0,0,0, .1);
                box-shadow: 0px 10px 25px -2px rgba(0,0,0, .1);
    }
    .g_good {
        width: 24% !important;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    .g_good:nth-child(4n) {
        margin: 0;
    }
    .g_good:nth-child(5n) {
        margin: 0 12px 0 0 !important;
    }
}
@media all and (max-width: 980px) {
    .c_mosaic_grid_sizer, .c_mosaic_item {
        height: 100px;
    }
    .c_mosaic_item_width_for_desktop {
        width: 39%;
    }
    .g_good {
        width: 32% !important;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    .g_good:nth-child(3n) {
        margin: 0;
    }
    .g_good:nth-child(4n) {
        margin: 0 12px 0 0 !important;
    }
    .g_good:nth-child(5n) {
        margin: 0 12px 0 0 !important;
    }
    .c_mosaic_item_height {
        height: 207px;
    }
    .c_mosaic_item_text {
        font-size: 16px;
    }
    .c_mosaic_delivery {
        display: none;
    }
    header {
        height: 70px;
    }
    .g_good_actions {
        position: static !important;
        bottom:0 !important
    }
}
@media all and (max-width: 800px) {
    .g_good {
        width: 48% !important;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    .g_good:nth-child(2n) {
        margin: 0 0 30px 0;
    }
    .g_good:nth-child(3n) {
        margin: 0 12px 30px 0 !important;
    }
    .g_good:nth-child(4n) {
        margin: 0 12px 30px 0 !important;
    }
    .g_good:nth-child(5n) {
        margin: 0 12px 30px 0 !important;
    }
    .mobile_banner_text_header {
        font-family:Calibri Bold;
        margin-top: 25px;
    }
    .mobile_banner_banner {
        color: #000;
        text-align: left;
        width: 80%;
        margin: 0 auto;
        display: none;
    }
    .mobile_banner_icons {
        display: block;
        width: 80%;
        margin: 0 auto 25px;
    }
    .mobile_banner_icons_icon {
        width: 33%;
    }
    .mobile_banner_icons_icon_img {
        width: 82px;
        height: 82px;
        margin: 0 auto 0px;
    }
    .mobile_banner_text {
        margin-bottom: 30px;
    }
    .m_b_b_i_t_bold {
        font-family:Calibri Bold;
    }
    .mobile_banner_icons_icon_text {
        font-size: 15px;
        color: #fe4517;
    }
    .mobile_banner_text_header {
        font-size: 25px;
    }
    .mobile_banner_text_subheader {
        font-size: 16px;
        margin-top: 32px;
    }
    .c_mosaic_grid_sizer, .c_mosaic_item {
        height: 200px;
        width: 49%;
    }
    .c_mosaic_item_height {
        height: 200px;
    }
    .c_mosaic_item_width {
        width: 99%;
    }
    .c_mosaic_item_text {
        font-size: 16px;
    }
    .c_mosaic_item_width_for_mobile {
        width: 49%;
    }
    .c_mosaic_item_width_for_desktop {
        width: 99%;
    }
    .c_mosaic_item_width_for_mobile_long {
        width: 99%;
    }
    .banner {
        display: none;
    }
    .mobile_banner {
        display: block;
        text-align: center;
    }
    .m_h_logo_img {
        width: 130px;
    }
    .m_h_call {
        margin: 8px 0 0 10px;
    }
    .m_h_logo {
        margin: 2px 0 0 0;
    }
    .mobile_banner_banner_text_header {
        font-size: 10px;
        font-family:Calibri Bold;
    }
    .mobile_banner_banner_text {
        margin-top: 55px;
        margin-right: 20px;
    }
    .mobile_banner_banner_text_body {
        font-size: 12px;
        font-family:Calibri Bold;
        color: #5ea424;
        margin: 10px 0 5px;
    }
    .mobile_banner_banner_text_footer {
        font-size: 10px;
    }
    .c_mobile_menu_link {
        font-size: 11px;
    }
    footer {
        display: none;
    }
    .content_helper {
        padding: 0 15px;
    }
}
@media all and (max-width: 425px) {
    .c_mosaic {
        display: none;
    }
    .mobile_mosaic {
        display: block;
    }
    .mobile_banner_text_header {
        font-size: 17px;
        font-family:Calibri Bold;
        margin-top: 25px;
    }
    .mobile_banner_text {
        margin-bottom: 0px;
    }
    .mobile_banner_text_subheader {
        font-size: 12px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .mobile_banner_banner {
        color: #000;
        text-align: left;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .mobile_banner_icons {
        display: block;
        width: 80%;
        margin: 0 auto 25px;
    }
    .mobile_banner_icons_icon {
        width: 33%;
    }
    .mobile_banner_icons_icon_img {
        width: 82px;
        height: 82px;
        -webkit-transform: scale(.5);
           -moz-transform: scale(.5);
            -ms-transform: scale(.5);
             -o-transform: scale(.5);
                transform: scale(.5);
        margin: 0 auto -20px;
    }
    .m_b_b_i_t_bold {
        font-family:Calibri Bold;
    }
    .mobile_banner_icons_icon_text {
        font-size: 9px;
        color: #fe4517;
    }
    .c_mosaic_grid_sizer, .c_mosaic_item {
        height: 100px;
        width: 49%;
    }
    .c_mosaic_item_height {
        height: 100px;
    }
    .c_mosaic_item_width {
        width: 99%;
    }
    .c_mosaic_item_text {
        font-size: 12px;
        background: transparent;
        padding: 0;
    }
    .c_mosaic_item_width_for_mobile {
        width: 49%;
    }
    .c_mosaic_item_width_for_mobile_long {
        width: 99%;
    }
    .content {
        margin: 0 0 -21px 0;
        padding: 0 0 20px 0;
    }
    .g_good_photo_block {
        width: 100% !important;
    }
    .g_good {
        width: 100% !important;
    }
    .g_good {
        height: auto !important;
         margin: 0 0 30px 0 !important;
    }
    .c_mosaic_item_width_for_desktop {
        width: 99%;
    }
}
.noscrlbr::-webkit-scrollbar { width: 0; }
.noscrlbr { -ms-overflow-style: none; }
.noscrlbr { overflow: -moz-scrollbars-none; }