/* main */
@font-face{font-family:Calibri Bold;src:local("Calibri Bold"),url(/commons/fonts/CalibriBold.woff) format("woff"),url(/commons/fonts/CalibriBold.woff2) format("woff2")}
@font-face{font-family:Calibri;src:local(Calibri),url(/commons/fonts/Calibri.woff) format("woff"),url(/commons/fonts/Calibri.woff2) format("woff2")}
body,html,textarea{font-family:Calibri}
@font-face {
  font-family: 'rouble';
  src: url('/assets/fnt/rouble-webfont.eot');
  src: url('/assets/fnt/rouble-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fnt/rouble-webfont.woff') format('woff'),
       url('/assets/fnt/rouble-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.rouble {
  font-family: 'rouble';
  font-size: 0.9em;
}
.content {
    min-height: calc(100% - 475px);
}
.content_helper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a:hover {
    color: #fe4517;
    -webkit-transition: color .3s, border-color .3s, opacity .3s;
    -o-transition: color .3s, border-color .3s, opacity .3s;
    transition: color .3s, border-color .3s, opacity .3s;
}
a {
    -webkit-transition: color .3s, border-color .3s, opacity .3s;
    -o-transition: color .3s, border-color .3s, opacity .3s;
    transition: color .3s, border-color .3s, opacity .3s;
}
.green_text {
    color: #5ea424 !important;
}
.orange_text {
    color: #fe4517 !important;
}
.black_text {
    color: #000000 !important;
}
.bold_text {
    font-weight: bold;
}
.sprite {
    background: url('/assets/img/sprite.png');
}
input:focus {
    border: 1px solid #fe4517;
    -webkit-transition: border-color .3s ease;
       -moz-transition: border-color .3s ease;
        -ms-transition: border-color .3s ease;
         -o-transition: border-color .3s ease;
            transition: border-color .3s ease;
}
input {
    -webkit-transition: border-color .3s ease;
       -moz-transition: border-color .3s ease;
        -ms-transition: border-color .3s ease;
         -o-transition: border-color .3s ease;
            transition: border-color .3s ease;
    font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;font-weight:500
}
/* header */
.mobile_header {
    display: none;
    text-align: center;
}
.m_h_hamb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-position: -29px -521px;
    margin: 8px 0 0 0;
}
.m_h_call {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-position: -111px -520px;
    margin: 8px 0 0 20px;
}
.m_h_cart_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-position: -276px -522px;
    margin: 8px 0 0 20px;
}
.m_h_cart_text {
    color: #fe4517;
    font-size: 9px;
    height: 25px;
    margin: 10px 0 0 0px;
}
.m_h_logo_img {
    width: 100px;
}
.m_h_logo {
    display: inline-block;
}
.h_phone {
    font-size: 18px;
    font-weight: 900;
    color: #000;
    line-height: 26px;
    margin: 0 30px 0 0;
}
.h_link {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #808080;
    line-height: 26px;
    margin-left: 50px;
}
.h_cart_icon {
    width: 43px;
    height: 26px;
    background-color: #f0f0f0;
    cursor: pointer;
    background-position: -266px -27px;
    -webkit-transition: background-color .3s ease;
       -moz-transition: background-color .3s ease;
        -ms-transition: background-color .3s ease;
         -o-transition: background-color .3s ease;
            transition: background-color .3s ease;
}
.h_logo_img {
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.h_logo_img:hover {
    opacity: .7;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.h_cart_text {
    width: auto;
    height: 26px;
    background: #f78c76;
    color: #FFF;
    font-size: 14px;
    line-height: 26px;
    padding: 0 15px;
    cursor: pointer;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.h_menu {
    margin-right: 100px;
}
.h_cart, .h_phones, .h_menu {
    margin-top: 17px;
}
.h_cart_text span {
    cursor: pointer;
}
/*.dirty_link {
    text-shadow: 0 0 60px rgba(0,0,0, 1);
    -webkit-transition: text-shadow .3s ease;
       -moz-transition: text-shadow .3s ease;
        -ms-transition: text-shadow .3s ease;
         -o-transition: text-shadow .3s ease;
            transition: text-shadow .3s ease;
}
.dirty_link:hover {
    text-shadow: 0 0 80px rgba(0,0,0, .9);
    -webkit-transition: text-shadow .3s ease;
       -moz-transition: text-shadow .3s ease;
        -ms-transition: text-shadow .3s ease;
         -o-transition: text-shadow .3s ease;
            transition: text-shadow .3s ease;
}*/
.dirty_link:hover {
    color: #000 !important;
}
.h_cart:hover .h_cart_text {
    background: #e05236;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}
.h_cart:hover .h_cart_icon {
    background-color: #ded5d5;
    -webkit-transition: background-color .3s ease;
       -moz-transition: background-color .3s ease;
        -ms-transition: background-color .3s ease;
         -o-transition: background-color .3s ease;
            transition: background-color .3s ease;
}
header .content_helper {
    line-height: 26px;
    padding: 25px 0;
}
/* menu */
.c_menu {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    height: 98px;
    line-height: 98px;
}
.c_menu_link {
    color: #000;
}
.c_menu_secondary {
    border-top: 1px solid #b3b3b3;
    -webkit-transition: margin .3s, opacity .3s;
    -o-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
    opacity: 1;
    margin-bottom: 0;
}
.c_menu_more_span {
    width: 10px;
    height: 6px;
    display: inline-block;
    background-position: -200px -120px;
    margin: 0 0 2px 3px;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
.c_menu_hidden {
    margin-bottom: -100px;
    opacity: 0;
    -webkit-transition: margin .3s, opacity .3s;
    -o-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
}
.c_menu_more_span_opened {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-transition: transform .3s;
            -o-transition: transform .3s;
            transition: transform .3s;
}
.c_menu_more {
    color: #fe4517;
}
.c_menu_more:hover {
    opacity: .7;
}
.c_current_menu_link {
    color: #999 !important;
}
/* footer */
footer .content_helper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
}
footer {
    margin: 50px 0 80px;
    padding-top: 50px;
    border-top: 10px solid #f0f0f0;
}
.f_block_link {
    display: inline-block;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.f_block_link:hover {
    border-bottom: 1px solid #f78c76;
}
.f_block_header {
    color: #fe4517;
    font-weight: bold;
    margin-bottom: 30px;
}
.f_delivery_text {
    margin: 35px 0 10px 0;
    line-height: 17px;
}
.f_logo {
    width: 165px;
    height: 111px;
    background-position: 0 -270px;
    cursor: pointer;
}
.f_delivery_icon {
    width: 44px;
    height: 41px;
    background-position: -267px -353px;
    margin-bottom: 18px;
}
.f_block_link_foot {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}
.f_socials {
    margin: 30px 0 0 0;
}
.f_social {
    width: 33px;
    height: 33px;
    display: inline-block;
    opacity: .6;
}
.f_social:hover {
    opacity: 1;
}
.f_social_in {
    background-position: -25px -188px;
}
.f_social_fb {
    background-position: -108px -188px;    
}
.f_social_vk {
    background-position: -189px -188px;    
}
.f_block_search_inp {
    width: 78px;
    height: 21px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.f_block_search_butt {
    display: inline-block;
    border: none;
    border-color: transparent;
    background: #b3b3b3;
    color: #000;
    font-size: 12px;
    padding: 3px 10px 4px;
    margin: 0 0 0 5px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.f_block_search_butt:hover {
    background: #ccc;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.f_block_search_butt:active {
    background: #b3b3b3;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.f_block_search_butt:focus {
    outline: none;
}
/* inners */
.c_inners_header {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 30px;
}
.closer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background: transparent;
    display: none;
}
/* modal */
.mm_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(88,88,88, .7);
    z-index: 99;
}
.mm_modal {
    position: fixed;
    width: 1018px;
    height: 366px;
    top: 50%;
    left: 50%;
    margin: -178px 0 0 -509px;
    background: #666;
    z-index: 100;
    padding: 100px 135px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #FFF;
}
.mm_modal_header {
    font-size: 24px;
}
.mm_modal_body {
    font-size: 36px;
    margin: 40px 0;
}
.mm_butt {
    width: 82px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.mm_butt:hover {
    opacity: .7;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.mm_yes {
    background: #6FA326;
    margin-right: 7px;
}
.mm_no {
    background: #D24D5E;
}
/* catalog */
.catalog_header {
    color: #fe4517;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}
.catalog_line_header {
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 30px 0;
    display: block;
    color: #000;
}
.catalog_pack {
    -webkit-columns: 4;
       -moz-columns: 4;
            columns: 4;
    margin: 70px 0 0 0;
}
.catalog_line { 
    break-inside:avoid;
    margin-bottom: 60px;
}
.catalog_line_item {
    font-size: 16px;
    display: block;
    color: #000;
    margin: 0;
    margin-bottom: 25px;
}
/* menu */
.c_new_menu_link {
    color: #000;
}
.c_new_menu {
    position: relative;
}
.c_new_menu_line_item {
    margin-right: 45px;
    color: #000;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.c_new_menu_line_item {
    cursor: pointer;
}
.c_new_menu_line_item_right {
    cursor: pointer;
    color: #5EA424;
}
.c_new_menu_line {
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}
.c_new_menu_more {
    cursor: pointer;
}
.c_new_menu_more_icon {
    display: inline-block;
    position: relative;
    width: 21px;
    height: 2px;
    background: #000;
    margin-left: 15px;
    cursor: pointer;
}
.c_new_menu_filter {
    width: 185px;
    height: 35px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px;
    font-size: 13px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-right: 23px;
}
.c_new_menu_dropdown {
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 70px;
    padding: 25px 40px;
    border: 5px solid #e6e6e6;
    columns: 4;
    height: 310px;
    width: 734px;
    z-index: 99999;
    display: none;
}
.c_new_menu_dropdown_link_helper {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.c_new_menu_dropdown_link {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin-bottom: 23px;
    color: #000;
}
.c_new_menu_dropdown .green_text:hover {
    color: #000 !important;
}
.c_new_menu_filter:hover {
    border-color: #ccc;
}
.c_new_menu_more_icon:after {
    content: '';
    display: block;
    background: #000;
    width: 21px;
    height: 2px;
    position: absolute;
    top: -4px;
    left: 0;
    cursor: pointer;
}
.c_new_menu_more_icon:before {
    content: '';
    display: block;
    background: #000;
    width: 21px;
    height: 2px;
    position: absolute;
    top: -8px;
    cursor: pointer;
    left: 0;
}
.c_new_menu_line_item_right:hover {
    color: #000;
}
.c_new_menu_line_item_right {
    margin: 0;
}
.c_new_menu_filters_count {
    font-size: 16px;
    line-height: 32px;
}
.index_c_new_menu .c_new_menu_line_item {
    margin-right: 30px; 
}
/* media */
@media all and (max-width: 1200px) {
    .content_helper {
        padding: 0 50px;
    }
    header .content_helper {
        padding: 35px 50px;
        line-height: 20px;
    }
    .c_menu {
        font-size: 12px;
    }
    .h_phone {
        font-size: 14px;
    }
    .h_link {
        font-size: 11px;
    }
    .h_cart_text {
        font-size: 11px;
        height: 20px;
        line-height: 20px;
    }
    .h_cart_icon {
        height: 20px;
    }
    .h_menu {
        margin-right: 50px;
    }
    .h_logo_img {
        width: 106px;
    }
    .h_cart, .h_phones, .h_menu {
        margin-top: 11px;
        line-height: 20px;
    }
}
@media all and (max-width: 980px) {
    .mobile_header {
        display: block;
    }
    .main_header {
        display: none;
    }
    header .content_helper {
        padding: 15px;
    }
}